.sumaryContainer {
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
  border-bottom: none;
  border-top:  5px solid #4e008e;
  border-radius: 1.5rem;
  max-width: 20rem;
  min-width: 15rem;
  align-content: center;
  align-items: center;
}

.headerSumary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.titleSumary {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.3rem;
  color: #4e008e;

}
.innerHeader {

}

.iconSumary {
  color:  #4e008e; 
}

.iconSumary svg {
  font-size: 3rem;
  
}

.totalSumary{
  color:  #4e008e; 
}

.itensSumary {
  display: flex;
  font-size: small;
  font-weight: 500;
  color: rgb(99, 99, 99)
}

.centredClass{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}





.sumaryContainerBotton{
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
  border-top: none;
  border-bottom: 5px solid #4e008e;
  border-radius: 1.5rem;
  max-width: 20rem;
  min-width: 15rem;
  align-content: center;
  align-items: center;
}