.sumaryContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
  border-bottom: none;
  border-top: 5px solid #4e008e;
  border-radius: 1.5rem;
  width: 100%;
  min-width: 15rem;
  align-content: center;
  align-items: center;
}

.headerSumary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.titleSumary {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.3rem;
  color: #4e008e;
}
.innerHeader {
  max-width: 10rem;
}

.iconSumary {
  color: #4e008e;
  text-align: center;
  align-items: center;
}

.iconSumary svg {
  font-size: 3rem;
  margin-right: 4rem;
}

.totalSumary {
  color: #4e008e;
  width: 100%;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.itensSumary {
  display: flex;
  font-size: small;
  font-weight: 500;
  color: rgb(99, 99, 99);
  width: 100%;
}

.centredClass {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sumaryContainerBotton {
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
  border-top: none;
  border-bottom: 5px solid #4e008e;
  border-radius: 1.5rem;
  min-width: 15rem;
  align-content: center;
  width: 100%;
  align-items: center;
}

.headerSumaryBotton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.buttonsContainer button {
  display: flex;

}