.periodoContainer {
    display: flex;
    flex-direction: column;

}
.periodoContainer span {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 900;
    color: #4e008e;
  }
  
  .labelDelivery{
      display: flex;
      justify-content: center;
      font-size: 1rem;
      font-weight: 900;
      color: #4e008e;
      text-align: center;
      margin-top: 1rem;
  }