.cardContainer img {
  width: 20rem;
}
.card {
  max-width: 20rem;
  min-width: 8rem;
}
.nameContainer {
  max-height: 2rem;
  overflow: auto;
}

.cardServiceCombo {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 1rem;
}

.inner.parthner button {
  background-color: #4e008e;
  color: #fff;
  margin: 0.3rem;
  padding: 0.5rem;
}

.chooseParthner {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #4e008e;
  color: #fff;
}

.cardSumaryCombo {
  margin-top: 1rem;
}

.activeValue {
  display: flex;
}

.notValue {
  display: none;
}
