.optMovel {
  display: flex;
  margin: 0.5rem;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 5px solid #4e008e;
  color: rgb(66, 66, 66);
  border-radius: 1rem;
  font-size: medium;
  font-weight: 900;
}
